.vertical-center-modal {
  .heading {
    font-size: 16px;
    font-weight: 500;
    color: 4f4e4e;
  }

  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
}

.vertical-center-modal::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
